
:root {
    --gr: linear-gradient(94.19deg, #70C0C9 0%, #03424A 100%);
    --sc: #A3FF12;
    --mc: #021E21;;
}


html {
    overflow-x: hidden;
}

body { transition: 0.5s;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Satoshi', sans-serif;
}

body a:focus,
body a:hover {
    color: initial;
    text-decoration: none;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

a:focus {
    text-decoration: none
}

.slick-slide:focus,
a:focus,
button,
button:focus,
select:focus,
textarea:focus {
    outline: 0
}

input {
    outline: 0 !important
}

input:focus,
textarea:focus {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

a img,
img {
    border: 0
}

h1,
h2,
h3,
h4,
p,
ul {
    padding: 0;
    margin: 0
}

ul {
    list-style: none
}

a {
    text-decoration: none;
}

textarea {
    resize: none
}

input:-webkit-autofill {
    border: 1px solid #e4e4e5;
    -webkit-text-fill-color: #313233;
    -webkit-box-shadow: 0 0 0 1000px #f5f5f6 inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

input:-internal-autofill-selected {
    background-color: #f5f5f6 !important;
    -webkit-box-shadow: 0 0 0 1000px #f5f5f6 inset
}

input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    border: 1px solid #e4e4e5;
    -webkit-text-fill-color: #313233;
    -webkit-box-shadow: 0 0 0 1000px #f5f5f6 inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    outline: 0
}

a:hover {
    text-decoration: none;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#return-to-top,
#return-to-top i {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    background: var(--mc);
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 6px;
    display: none;
    z-index: 9999;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 12px;
    top: 6px;
    font-size: 26px;
}

#return-to-top p {
    display: none;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, .9)
}

#return-to-top:hover i {
    color: #fff;
    top: 5px
}


.btn {
    background: var(--gr);
    border: 1px solid #70C0C9;
    box-shadow: 0px 0px 12px 4px rgba(254, 168, 245, 0.16);
    border-radius: 5px;
    color: #fff;
    padding: 10px 40px;
}

p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #70C0C9;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--mc) !important;
}

header {
    padding: 15px 0;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
    position: sticky;
    top: 0;
    z-index: 3;
}

header .container {
    display: flex;
    align-items: center;
}

.bg-none {
    background: transparent;
}


.sec h3 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: 0.4em;
    text-transform: uppercase;

    background: linear-gradient(94.19deg, #70C0C9 0%, #70C0C9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 20px;
}

.sec h1,
.sec h2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-transform: capitalize;
    background: linear-gradient(90deg, #FFE0FC 0%, #70C0C9 92.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 20px;
}

.sec p {
    margin-bottom: 20px;
}

.sec h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 66px;
}

.hero-section .sec p,
.hero-section .sec h1,
.hero-section .sec h3 {
    margin-bottom: 35px;
}

.blu-img {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 15px;
}

.blu-img img {
    max-height: 600px;
}

.blu-img img {
    width: 100%;
    height: 100%;
}

.coverImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
}

section.aboutus {
    position: relative;
    padding: 60px 0;
}

.howWorks, .ourvilla {
    background: var(--mc);
    padding: 70px 0;
}

.workBox h2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    background: linear-gradient(90deg, #FFE0FC 0%, #70C0C9 92.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 20px;
}

.workBox img {
    max-width: 140px;
    margin-bottom: 20px;
}

.workBox {
    border-bottom: 3px solid #70C0C9;
    padding-bottom: 40px;
}

.works-row>div:nth-child(odd) {
    margin-top: -80px;
    padding: 0 20px;
}

.works-row {
    margin-top: -80px;
}

.waverow img {
    width: 100%;
}
.copyright p { font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #70C0C9;
    }
.copyright {  background: var(--mc); border-top: 1px solid rgba(255, 255, 255, 0.05); }
.ourteam, footer {
    background: var(--mc);
    padding: 60px 0;
}

.teambox {
    background: linear-gradient(154.81deg, rgba(3, 66, 74, 0.5) 0%, rgba(2, 30, 33, 0.5) 99.81%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

body {
    background: url(../img/bg.png) no-repeat center center;
    background-size: cover;
}

.blog {
    position: relative;
    padding: 60px 0;
}

.btn.blog-btn {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: 0;
    color: #70C0C9;
    line-height: 30px;
    display: inline-block;
    margin-top: 20px;
}

.blog-box h2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;

    background: linear-gradient(90deg, #FFE0FC 0%, #70C0C9 92.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.blog-box h4 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    background: linear-gradient(182deg, var(--mc) 0%, #70C0C9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #00000008;
    background-clip: text;
    text-fill-color: transparent;
    padding-bottom: 20px;
}

.blog-box {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
}

.blog, .token, .cummunity, .contracts {
    margin: 60px 0px;
}

.blog-box img {
    border-radius: 10px;
    margin-bottom: 20px;
}

.blog-box.bigbox {
    height: 100%;
    padding: 30px 20px;
}

.blog-box+.blog-box {
    margin-top: 30px;
}

.bodybg {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
}


/* villa  */
.villa-bx {
    background: linear-gradient(154.81deg, #03424A 0%, #021E21 99.81%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.villa-bx h4 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    background: linear-gradient(90deg, #FFE0FC 0%, #70C0C9 92.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparet;
    padding-top: 20px;
    padding-bottom: 5px;
}

.villa-bx img {
    width: 100%;
    border-radius: 15px;
}

.villaslider-content .villa-text img {
    width: 100%;
    max-width: 14.4px;
    height: 18px;

}

.wishBox {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 27px;
    box-shadow: 0 0 15px -6px #000;
    right: 25px;
    cursor: pointer;
}

.villa-bx h4,
.villa-bx .pPr {
    padding-left: 10px;
}

.villa-bx {
    position: relative;
}

.pPr img {
    width: 18px;
    margin-top: -5px;
    margin-right: 6px;
}

.pPr {
    display: flex;
    padding: 6px 0;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #70C0C9;
}

.villaslider .item { padding: 0 10px;}
ul.slick-dots li button {
    background: rgba(112, 192, 201, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    font-size: 0;
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
    padding: 0 !important;
}

ul.slick-dots .slick-active button {
    background: var(--gr);
    border-radius: 30px !important;
    border: transparent !important;
    width: 33px;
    min-width: 33px;
}

ul.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

ul.slick-dots li {
    margin: 0 10px;
}

button.slick-arrow {
    background: url('../img/slickarrow.svg') no-repeat center center;
    border: 0;
    font-size: 0;
    padding: 31px;
}
button.slick-next.slick-arrow {
    transform: rotate(179deg);
}

button.slick-arrow {
    position: absolute;
    top: -109px;
    right: 0;
}

button.slick-prev.slick-arrow {
    right: 70px;
}
.btn:hover, .btn:focus {
    background: linear-gradient(254deg, var(--mc) 0%, #70C0C9 100%);
    color: #fff;
    transition: 0.5s;
}
.cm-box {
    background: linear-gradient(154.81deg, rgba(3, 66, 74, 0.5) 0%, rgba(2, 30, 33, 0.5) 99.81%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
}

.cm-box a.btn.blog-btn {
    margin-top: 0 !important;
}
.cmIcon {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teambox {
    padding: 15px;
}

.teambox {}

.teambox  .coverimg {
    width: 100%;
    height: 100%;
    max-height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

.userP {
    border: 6px solid #85197A;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin-top: -60px;
    margin-left: 20px;
    position: relative;
    z-index: 1;
}

.userP img {
    width: 100%;
    height: 100%;
}

.user-details h2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
/* identical to box height */
    background: linear-gradient(90deg, #FFE0FC 0%, #70C0C9 92.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.user-details p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    color: #70C0C9;
}

a.linkedinbtn {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    color: #70C0C9;
}
.userBasic {
    padding: 13px 20px;
}
.con-box {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 30px;
}

.cont-content h2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    background: linear-gradient(90deg, #FFE0FC 0%, #70C0C9 92.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.cont-content p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
/* or 162% */
    color: #70C0C9;
}

.conIcon {
    width: 100%; padding-left: 30px;
    max-width:150px;
    display: flex;
    justify-content: start;
}

.touch_container h3 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 130px;
    line-height: 171px;
    background: linear-gradient(90deg, #FFE0FC 0%, #70C0C9 92.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.touch_container h4 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
/* identical to box height, or 115% */
    color: #70C0C9;
}

.touch_container {
    max-width: 780px;
    padding-bottom: 60px;
}

.emailField input { 
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400; color: #fff;
    font-size: 20px;
    line-height: 26px;
/* identical to box height */
    color: #70C0C9 !important;
    background: transparent;
    border: 0;
    padding: 15px 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
}
.emailField input:focus {
    background: transparent;
    color: #fff !important;
}
span.eiocn {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
/* identical to box height */
    color: #70C0C9;
    position: absolute;
    right: 0;
    top: 0;
}

.emailField {
    position: relative;
}


.emailField input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #70C0C9 !important;
  }
  
  .emailField input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #70C0C9;
  }
  
  .emailField input::-ms-input-placeholder { /* Microsoft Edge */
color: #70C0C9;
  }

  .section.getIn { padding-top: 40px;}
  footer h3 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    background: linear-gradient(90deg, #FFE0FC 0%, #70C0C9 92.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

footer li a {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
/* or 144% */
    color: #70C0C9;
}

footer li {
    margin-top: 13px;
}

footer li a:hover {
    color: #fff;
}
.search-toggle {
    width: 40px;
    height: 40px;
    display: flex; cursor: pointer;
    align-items: center;
    justify-content: center;
}

.serachbar {
    border: 1px solid #70C0C9;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
    height: 41px;
    width: 41px;
}

.inputBar input:focus { background:transparent; color:#70C0C9 !important }
.inputBar input {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 8px 27px;
    color: #fff;
    height: 41px;
}

.inputBar {
    width: 0;
}


.serachbar.open {
    width: 100%;
    transition: 0.5s;
    max-width: 280px;
}

.serachbar.open .inputBar {
    width: 100%;
}

.menulist {
    display: flex;
    width: 100%;
    max-width: 700px;
    justify-content: end;
}
.hero-section { padding: 100px 0;}
@media ( max-width:1366px){
    .btn {
        font-size: 15px;
    }
    
    p {
        font-size: 16px;
        line-height: 28px;
    }
    
    .emailField input {
        font-size: 18px !important;
    }
    
    footer h3 {
        font-size: 21px;
    }
    
    footer li a {
        font-size: 16px;
    }
    
    .copyright p {
        font-size: 15px;
    }

    .touch_container h3 {
        font-size: 99px;
        line-height: 161px;
    }
}